@import '../../modules/less/colors.less';

body {
    background-color: @background;
    font-family: 'Lato', sans-serif;
    height: 100%;
    min-height: 100%;
}


*:focus {
    outline: none!important;
}

@font-face {
    font-family: 'diavlomedium';
    src: url('../../assets/diavlo_medium_ii_37-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.padding-0 {
	padding: 0;
}


.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
}

.header-height {
	height: 20px;
	background-color: @common;
}