@import '../../modules/less/colors.less';

.form-sign-container {
	text-align: center;
	.sign-input {
		font-size: 30px;
		padding: 0px 10px 4px 8px;
		margin-bottom: 20px;
	}
	.sign-button {
		display: block;
	}

}
.slider {
	height: 10%;
	max-height: 200px;

}
.chart {
	height: 30%;
}

