<link rel="stylesheet" href="dist/home/home.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Strona główna</h1>

			<div id="myCarousel" class="carousel slide slider" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner slider" role="listbox">
					<div class="item active">
						<img src="https://www.nevistas.com/ul/4/2016/05/23/02.jpg">
					</div>

					<div class="item">
						<img src="http://www.oeconline.org/wp-content/uploads/2014/11/Dollarphotoclub_57954146.jpg">
					</div>

				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<canvas id="myChart" class="chart"></canvas>

			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget velit a neque maximus suscipit ullamcorper sed leo. Phasellus hendrerit, velit eget blandit viverra, risus purus tincidunt arcu, quis volutpat massa justo sed nulla. Pellentesque sed est turpis. Vestibulum blandit risus et enim aliquet, id iaculis tortor volutpat. Suspendisse mi elit, gravida quis tellus gravida, molestie lobortis eros. Phasellus ipsum purus, auctor at dui id, elementum auctor orci. Nullam tempus pulvinar augue vitae consequat.

				Curabitur egestas dapibus pharetra. Proin a rhoncus risus. Aenean mattis tincidunt turpis, vel laoreet felis consequat ac. Nulla in placerat nunc. Quisque sit amet eleifend neque, non condimentum lorem. Sed pellentesque velit ut vehicula faucibus. Duis nec ipsum aliquam, dignissim augue ac, tristique odio. Nulla facilisi. Suspendisse tristique, lorem quis pharetra vehicula, quam turpis imperdiet magna, id fringilla mauris justo vitae magna. Phasellus magna massa, ultricies id porttitor suscipit, viverra quis lectus. Etiam pharetra, urna sit amet iaculis suscipit, magna mauris sollicitudin nibh, ut condimentum lacus dolor non ipsum.

				Cras pretium velit mi, ut sagittis enim consectetur eu. Etiam et massa nec arcu pulvinar vestibulum iaculis sed massa. Nunc a erat non arcu vestibulum efficitur id id nulla. Aliquam pulvinar, mi vitae fermentum lobortis, ligula lectus luctus nisl, id dapibus mauris velit at diam. Sed leo dolor, placerat ac elit vel, blandit sollicitudin elit. Mauris vitae nisi lacus. Vivamus non fringilla diam. Mauris id mauris et sem placerat aliquet eu eu lacus. Sed ullamcorper odio quis purus facilisis, ac vestibulum ex lacinia. Nullam condimentum diam sit amet luctus iaculis. Morbi tincidunt vel ligula nec lobortis. Proin sed auctor nibh. In libero velit, mollis et commodo at, tempor eget ligula. Morbi ut faucibus odio, ut eleifend diam. Vestibulum id consectetur ligula. Proin posuere quam nec nunc posuere maximus.

				Phasellus hendrerit, elit nec egestas congue, orci justo aliquam est, vitae ullamcorper mauris neque eget sapien. Aliquam at metus posuere, vestibulum enim sed, varius metus. In hac habitasse platea dictumst. Nulla purus quam, tincidunt quis condimentum quis, rhoncus ornare purus. Vivamus quis imperdiet nisl. Suspendisse vel ultricies urna. Fusce ultrices laoreet ligula, eget rutrum elit lobortis a. Aenean quis mauris vulputate, commodo justo ac, faucibus ante. In iaculis eros id lorem hendrerit, in elementum turpis sagittis. Nullam et venenatis urna. Donec tristique at massa vitae mattis. Ut a velit arcu. Suspendisse nec augue leo. Nulla interdum leo quam, ut bibendum ante pulvinar non. Etiam consequat imperdiet elit molestie commodo.

				Curabitur a tristique dolor, et pretium diam. Sed efficitur ligula enim, laoreet euismod felis fermentum in. Suspendisse dui eros, dignissim eget pulvinar eu, ultrices eget justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisi risus, hendrerit nec congue vitae, fringilla a erat. Pellentesque tristique arcu eu mollis egestas. Mauris ex justo, viverra vel pellentesque vitae, laoreet eget lorem. Donec vitae tellus nec tortor tempus tempor. Curabitur sodales sollicitudin pharetra. Pellentesque sollicitudin arcu non ante tincidunt, id pulvinar augue euismod.
			</div>


		</div>
	</div>
</div>