<link rel="stylesheet" href="dist/signIn/signIn.css" />
<div class="container-fluid">
	<div class="row">
		<img src="assets/logo.png" class="logo">
	</div>
	<div class="row">
		<img src="assets/wave.png" class="wave">
	</div>
	<div class="row">
		<div class="col-xs-12">

			<p class="text-center color-dark">Lorem ipsum dolor sit amet.<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, molestias.<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing.</p>




<!-- 			<button ng-click="startCtrl.addGlassOfWater()">Błaton 1</button>
			<button>Błaton 2</button>
			<button>Bałton 3</button> -->
		</div>
	</div>
	<div class="row">
		<button class="sign-up btn" ng-click="signInCtrl.clickFacebook()">SIGN UP</button>
	</div>
</div>