@import '../../modules/less/colors.less';




.logo {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.wave {
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	margin-bottom: 30px;
}

.color-dark {
	color: @dark;
	font-size: 18px;
}

.sign-up, .sign-up:active, .sign-up:focus, .sign-up:active:focus {
	width: 200px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background-color: @common;
	border-radius: 100px;
	color: white;
	font-size: 23px;
	font-weight: bold;
	-webkit-box-shadow: 0px 14px 41px 8px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 14px 41px 8px rgba(0,0,0,0.34);
	box-shadow: 0px 14px 41px 8px rgba(0,0,0,0.34);
	transition: margin 1s;
	&:hover {
		color: white;
		margin-top: 80px;
	}
}


.row {
	button {
		margin-bottom: 30px;
		background-color: @common;

		font-size: 20px;
		color: white;
	}
}