<link rel="stylesheet" href="dist/start/start.css" />
<div class="container-fluid">
	<div class="row">
		<img src="assets/logo.png" class="logo">
	</div>
	<div class="row">
		<img src="assets/wave.png" class="wave">
	</div>
	<div class="row">
		<div class="col-xs-12">

			<p class="text-center color-dark">Lorem ipsum dolor sit amet.<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, molestias.<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
		<div class="row text-center">
			<button class="btn inline" ng-click="startCtrl.addWater('0.125')">Pół szklanki</button>
			</div>
			<div class="row text-center">
			<button class="btn inline" ng-click="startCtrl.addWater('0.25')">Szklanka</button>
			</div>
			<div class="row text-center">
			<button class="btn inline" ng-click="startCtrl.addWater('0.5')">Butelka</button>
			</div>

		</div>
	</div>
</div>
