@import '../../modules/less/colors.less';

.navbar {
    border: none;
    ul {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'diavlomedium', sans-serif;
        background-color: white;
        
        li {
            a.sites {
                color: @blue;
                font-size: 1.2em;
            }
        }
    }
    border-bottom: 4px solid @blue;
}

.medex-logo {
    padding-top: 10px;
}